[2015-02-11 10:44] sole opened #1 "What's the point? i.e. reasons to write the library in es6"
- cleaner code
- using imports
- ... ???

[2015-02-11 10:45] sole opened #2 "Publish to npm using a transpiler"
6to5 sounds like the most serious candidate.

[2015-02-11 10:47] sole opened #3 "Have browser tests on travis - not only npm based"
Current tests on travis are running on node so we're not actually using `window` or `window.performance`. Travis can run headless browsers, and we should use it to make sure we're not breaking things.

[2015-06-05 00:55] sole commented on #2
Since io.js happened, it seems that it's more than possible we might get es6 support in browsers and node before we expected.

Transpilers add a new layer of complexity and I'm starting to dislike them. I was thinking that maybe we shouldn't even bother with them, and write the library entirely in es2015, neé es6.

[2015-06-05 00:57] sole opened #4 "Emit events"
As discussed in https://github.com/tweenjs/tween.js/issues/195#issuecomment-109110153 - it would avoid polling and weird status, and probably help saving battery.

[2015-09-27 19:50] dalisoft commented on #1
* high performance
* more features
* umd compatible
* battery save mode

[2016-07-27 15:56] dalisoft commented on #4
`/**
 * Tween.js - Licensed under the MIT license
 * https://github.com/tweenjs/tween.js
 * ----------------------------------------------
 *
 * See https://github.com/tweenjs/tween.js/graphs/contributors for the full list of contributors.
 * Thank you all, you're awesome!
 */

// Include a performance.now polyfill
(function () {

	if ('performance' in window === false) {
		window.performance = {}

[2017-02-27 18:35] #4 closed

[2017-02-27 18:35] dalisoft commented on #4
Already implemented ;)

[2017-02-27 18:37] dalisoft commented on #1
Using classes, es6 features improves performance by small margin and cleaner to read as well easy to manager and control

[2017-02-27 18:37] #1 closed

[2017-02-27 18:38] dalisoft commented on #2
Using babel also nice way and already implemented. Even who doesnt know about ES6 can use via Unpkg

[2017-02-27 18:38] #2 closed

[2017-03-19 17:33] dalisoft opened #8 "Implementing tween#get and Famous Transitionable-like constructor"
See https://github.com/tweenjs/discuss/issues/1#issuecomment-282525375

[2017-03-19 17:39] dalisoft commented on #8
Fixed with [last commit](https://github.com/tweenjs/es6-tween/commit/4eb0f1c0155e176bed3e865db695cb475f55963e)

[2017-03-19 17:39] #8 closed

[2017-03-19 22:17] trusktr commented on #8
Cool, looking forward to API like this!

[2017-03-20 14:52] dalisoft opened #11 "Help needed: Fix error tests & Add Tests for new feature"
I am trying to add tests (cloned from original es3-version), but runs following error:
[code]

Who can help me with that?

@sole @mikebolt @trusktr Can you're help me?

[2017-03-20 15:54] dalisoft commented on #11
This is fixed with #12

[2017-03-20 15:57] dalisoft opened #13 "Yarn lock-file is out-of-sync with package"
* `yarn` - While some users feels issue/bug with latest release
* `npm` - is release out-of-sync with GitHub

[2017-03-20 16:00] #13 closed

[2017-03-20 16:09] dalisoft commented on #3
@sole I don't have access on Travis for this repo. I have made passed all tests on npm

[2017-03-20 18:38] dalisoft opened #15 "[cdn][waiting...] Adding es6-tween to CDNjs libraries list/folder"
Someone can help with this issue?

[2017-03-20 18:39] dalisoft opened #16 "Bower: Register this repo"
Commit d771270bcca6acd5863e713dee586880f8586cf9 closes #16

[2017-03-20 18:46] #16 closed

[2017-03-22 13:25] dalisoft commented on #11
Add tests for new features

[2017-03-28 11:28] dalisoft opened #17 "[QUITING PROJECT] Really someone want continue development?"
Hi @sole, @mikebolt, @trusktr.

I am see there no interest like original tween.js and community want implement those features tween.js. Then no need for es6-tween. @sole please make someone main dev for this repo or remove (it's your choice, as all of your work its). So if peoples want merge this project to tween.js, i am exit from project. Thanks for anybody, who interested.

I am wait review, re

[2017-04-02 10:12] dalisoft commented on #17
Wow, i am impressed after seen there no interest or nobody want develop the es6-version

[2017-04-02 10:12] #17 closed

[2017-04-02 16:10] trusktr commented on #17
I am interested in a modernized tweeting library. At the moment I'm focused
on some WebGL rendering stuff, but at some point I'll be back to handle my
tweenig requirements.

On Apr 2, 2017 3:12 AM, "dalisoft" <notifications@github.com> wrote:

[2017-04-02 16:13] dalisoft commented on #17
Okay, when you back you will be amazed as i am introduced some useful things

[2017-04-02 22:00] mikebolt commented on #17
I am still interested in working on the es6 version.

[2017-04-02 22:13] mikebolt opened #18 "Tween instantiation syntax?"
We should decide on a syntax for tween instantiation. We could use a syntax similar to the current version of tween.js, where options are added to tweens using chainable methods:

    var myTween = new Tween.tween(object).to({a: 1, b: 2}).easing(TWEEN.Easing.Quadratic.In);

The other option is to use an options object:

    var myTween = new Tween.tween(object, {'to': {a: 1, b: 2}, 'easing': TWEEN

[2017-04-03 01:38] mikebolt opened #19 "Passive versus active source and destination settings"
There are two ways that a tween can respect the starting values: by only using the starting values when the tween started (passive), or by using the current values from the starting object (active).

I made an example that demonstrates the difference between passive and active in the source and destination objects: https://mikebolt.github.io/discuss/examples/active_tweens.html

I think we should a

[2017-04-03 01:44] dalisoft commented on #18
Looks interesting. I try

[2017-04-03 02:36] dalisoft commented on #19
I am not understand the feature, please explain bit more. source code too looks logically

[2017-04-05 05:52] dalisoft commented on #18
@mikebolt i answered to your question?

[2017-04-05 05:53] dalisoft commented on #15
@PeterDaveHello @PeterBot helped me with that, so soon our library would be available on @cdnjs

[2017-04-06 10:25] dalisoft commented on #15
@jsdelivr adds library maximum 3day, if much of PR (50+ in day). I not understanding why @cdnjs takes much of time? it's interesting? maybe @cdnjs needs help?

[2017-04-07 01:46] dalisoft commented on #15
@cdnjs one of bad cdn i ever see. They delay merging PR insteadof helping. I just love @jsdelivr

[2017-04-07 02:18] PeterDaveHello commented on #15
Sorry to make you feel that but we have tons of issues to handle so it's reasonable to have delay and we already tried the best to handle that, @cdnjs as you can see has almost 3k libraries to maintain and have more than 700 issues waiting on the list, that's why it'll be slower, hope this make your understood, it's a fully free and open source project, feel free to point out the problem or fix it

[2017-04-08 02:11] #15 closed

[2017-04-24 18:24] dalisoft opened #20 "Travis tests shows as `unknown` because, not submitted"
@tweenjs contributors, can you help me with this issue?

[2017-05-07 11:13] dalisoft commented on #20
@sole @mikebolt Travis tests still shows *Unknown* as i am not have permission to submit/confirm to Travis CI

[2017-05-08 12:13] sole commented on #20
Sorry I hadn't seen this.

I just enabled the repository in Travis. I think it will start running the tests next time there's a push to the repository. Let me know if that works?

[2017-05-09 04:17] dalisoft commented on #20
Thanks. I am push when will be new idea for this

[2017-05-09 04:17] #20 closed

[2017-05-09 20:32] #18 closed

[2017-05-09 20:49] dalisoft commented on #11
### BUILD: `PASSING`

#### TESTS NEEDS
* New added @michaelvillar dynamics.js adapted physics test/docs
* Emit event test/docs
* well, add later...

[2017-05-15 08:15] sole commented on #3
Sorry @dalisoft, reopening the issue because I don't see travis running tests on the browser :)

What I meant with 'on the browser' is to use something like phantomJS so the tests are run on that environment, using a real `window`object and etc. I am not sure if phantom is the thing people use nowadays, maybe they use Electron? I've no idea :)

[2017-05-15 11:21] dalisoft commented on #3
Okay, i am now understand. I try to fix it

[2017-05-20 06:19] dalisoft commented on #3
@sole i can't find real demo of this type of demo. Please can you let me know demo?

[2017-05-21 20:18] dalisoft opened #21 "Update `jsdelivr` path to get excepted result"

[2017-05-21 21:43] dalisoft commented on #21
Fixed

[2017-05-21 21:43] #21 closed

[2017-06-11 15:59] dalisoft opened #22 "The ES6 import was not working properly or not working at all"

[2017-06-14 06:30] dalisoft opened #24 "The Travis CI access fail due of permission"
@sole I can't access to settings. Or i should leave the app? If yes, i will leave :(

[2017-06-14 07:09] dalisoft commented on #24
Sorry @sole. It's maybe mistake of [npmjs](https://github.com/npm/npm/issues/17195) or [travis], i not sure

[2017-06-14 08:49] sole commented on #24
Sorry @dalisoft it is my fault! I revoked a token and forgot to update it on this repository. I will do it and update you here

[2017-06-14 09:45] sole commented on #24
Is it working now? it looks like it should be?

[2017-06-14 10:05] dalisoft commented on #24
@sole My tokens will been not a one, i am curius because nobody can't access to my profile and can't revoke my token without my permission, right? There it's not your fault. My tokens was used for 2 repos, not a one. Anyway i am already released release with my fork. I test it later

[2017-06-15 12:14] dalisoft commented on #24
@sole I am still can't access to Travis CI

[2017-06-15 14:58] sole commented on #24
I don't understand what you're trying to do - can you explain exactly what you're trying to do and where?

[2017-06-15 16:05] dalisoft commented on #24
I cant set my token for es6 tween on travis to release new version

[2017-06-19 16:51] sole commented on #24
Right, I don't really know what is actually happening. Looking at the travis output I can only see

[code]

and I don't know why is it failing to determine a new version.

I'll tell you what I've looked at, and let's see if together we can figure out what's wrong:

* In travis settings, under the tween.js/es6-tweenjs settings there are GH and NPM tokens

My first suspect is here: the NPM token bel

[2017-06-19 16:54] sole commented on #24
We also had [a similar issue](https://github.com/tweenjs/tween.js/issues/312#issuecomment-274893948) a while ago with `semantic-release` which couldn't determine the current version

[2017-06-19 16:55] dalisoft commented on #24
Yes, only one account can be publish with Travis + semantic-release

[2017-06-19 16:56] dalisoft commented on #24
[code]
fix(travis): trigger travis, may fix the issue
[code]

[2017-06-21 16:37] dalisoft commented on #19
@mikebold maybe you can make PR for this?

[2017-06-21 17:40] dalisoft commented on #24
@sole semantic-release fixes in `v2.2.1`, i did some config changes and improvements for performance and repo. I think you like it

[2017-06-21 17:40] #24 closed

[2017-06-21 18:13] mikebolt commented on #19
Sure, I can work on this. I haven't looked at the source code for es6-tween yet.

[2017-07-17 05:50] ivanherczeg commented on #22
import * as TWEEN from 'es6-tween';

[2017-07-17 07:25] dalisoft commented on #22
Thanks. Can you confirm that works this method? Also you have the idea how make import like { Tween, Easing }?

[2017-07-17 07:25] dalisoft commented on #22
For me on Rollup+Buble on other app it not works as excepted

[2017-07-23 09:51] dalisoft opened #26 "[BUG]: Tween Easing pack isn't working properly?"
### What do you excepted?
Working easing pack as original

### What do you unexcepted?
Some tween easing is working unproperly

### Your problem
Easings like `Exponential, Circular` was excedding >2.

### Is this related to `es6-tween`?
- [ ] - no
- [x] - yes

## NOTE: If you not give us `log` or `demo` we can't fix the issue. Thanks

[2017-07-26 15:30] dalisoft commented on #26
v2.2.6 release fixed it

[2017-07-26 15:30] #26 closed

[2017-07-26 15:31] dalisoft commented on #22
v2.2.6 fixed this issue

[2017-07-26 15:31] #22 closed

[2017-07-27 16:42] dalisoft commented on #19
It's now can be apply via method `setActiveMode()`.
Commit hash https://github.com/tweenjs/es6-tween/commit/056f13ce816b255c46628670e7f6056e068eebab

[2017-07-27 16:42] #19 closed

[2017-07-27 16:47] #11 closed

[2017-08-02 17:23] dalisoft opened #27 "v3: Introducing and Features"
# Core

- [x] New-level and breaking changely DOM Manipulation support
- [x] New super-effecient Plugins API
- [x] Shareable plugins method
- [ ] Shifting `DOM-Node` argument to `Tween` constructor
- [ ] Power effeciency
- [x] Reduced size due of plugins would be outside of core function
- [x] Extendable plugin API (creating your own is easy as 1,2,3)
- [x] Faster execution speed due of closer sco

[2017-08-02 17:23] dalisoft commented on #27
# Note
### Who isn't like the using API, please leave review here

[2017-08-02 17:27] dalisoft commented on #27
Release date: 10 August 2017

[2017-08-02 17:31] dalisoft commented on #27
v3.x plugin defintion looks like this as example
[code]

[2017-08-03 17:23] dalisoft opened #28 "My Plugins List"
Here the my plugins that can be ported from my old js
[code]

If you like one or more of these, leave review, so i will give you code and we together (or you) port the API to es6-tween, this would be amazed

[2017-08-04 05:52] dalisoft opened #29 "Plugins: works on local, but on hosting not works"
As title says, now `Attr` plugins works on local, but on CDN not

[2017-08-04 08:03] dalisoft commented on #29
Latest release with refactored plugin is fixes this issue

[2017-08-04 08:03] #29 closed

[2017-08-05 10:13] #28 closed

[2017-08-05 10:47] #27 closed

[2017-08-06 09:32] dalisoft opened #30 "The timing was difference between local and remote"
The timing was difference between local and remote

[2017-08-30 08:18] VictorZhang-1928 opened #31 "Variable "isStarted" is not set properly in core.js"
Variable "isStarted" remains "true" after all tweens removed by calling "removeAll" or "remove" in "core.js", so all tweens added after that will never start automatically unless event "visibilitychange" fired.

ps: sorry for my poor english...

[2017-08-30 09:11] dalisoft commented on #31
Hi. Thanks for using library. I will test and publish as soon as possible

[2017-08-30 10:18] dalisoft commented on #31
[v3.5.2](https://github.com/tweenjs/es6-tween/releases/tag/v3.5.2) release should fix the issue, test, then let me know. [v3.5.2](https://github.com/tweenjs/es6-tween/releases/tag/v3.5.2) is avaiable at [GitHub](https://github.com/tweenjs/es6-tween/releases/tag/v3.5.2), [npm](https://www.npmjs.com/package/es6-tween) and [Yarn](https://yarnpkg.com/en/package/es6-tween), or you can find the distrubt

[2017-08-30 10:20] dalisoft commented on #31
@VictorZhang-1928 If you think or sure, that bug is fixed, please, close the issue

[2017-08-30 16:20] VictorZhang-1928 commented on #31
@dalisoft Yes, it's fixed, thanks.

[2017-08-30 16:20] #31 closed

[2017-08-30 16:53] dalisoft commented on #31
You're welcome

[2017-08-31 06:05] dalisoft opened #32 "In Android default browser doesn't execute or executes not properly?"
All demos in given [README](../blob/master/README.md) was not run in Android default browser, but works fine in Chrome (Android). On iOS7+ on Safari, Chrome works nice (at time of writing this issue)

[2017-08-31 14:34] #32 closed

[2017-08-31 14:35] dalisoft commented on #32
It's related to plugins and now fixed

[2017-09-16 20:17] trusktr opened #33 "Consolidation"
Rather than having two repos that are diverging, let's get ideas from here, and make PRs for them in the base tween branch, and let's delete this repo so we can clean up the org.

There's lots of good ideas here @dalisoft

Then moving forward, what we should do is create new feature branches in the original repo, or make new repos under our own usernames and make pull requests onto the main repo.

[2017-09-16 20:17] trusktr commented on #33
List of ideas we'd like to apply to Tween.js:

- [ ] ...

[2017-09-16 23:43] dalisoft commented on #33
You right. But i am like to keep this repo live as i am maintining this because there already 31 star. I am always wished become main maintainer of good tweening library. But, maybe i do it if @sole also says this idea

[2017-09-17 09:11] dalisoft commented on #30
It's cannot be fixed, as it's not `es6-tween` related issue

[2017-09-17 09:11] #30 closed

[2017-09-17 09:28] dalisoft commented on #33
@trusktr Thanks for idea. I am doing new features, bug-fixes much more than original tween.js, also i am providing [Lite version](https://tweenjs.github.io/es6-tween/Lite.html) of es6-tween, one feature of that faster than [Full version](https://tweenjs.github.io/es6-tween/Tween.html).

As well as @sole, @mikebolt maybe also want to keep tween.js ES5 version keep clean, right?

I am made a [some o

[2017-09-18 19:35] dalisoft commented on #33
@trusktr I can close this issue?

[2017-09-19 05:33] trusktr commented on #33
Yep yep, let's close, just for discussion.

The PR for rollup on tween.js will add tree shaking.

You have some good ideas here, tween.js could use some!

[2017-09-19 05:52] dalisoft commented on #33
@trusktr If @sole @mikebolt and you accept and give me access on tween.js, i will commit to tween.js as possible and make that good

[2017-09-19 06:22] dalisoft opened #34 "Relative values not working"
Relative string value example not working after introducing the `setter-only property` tween

### Related
This issue is related to

- [ ] LICENSE
- [ ] README
- [ ] ABOUT COPYRIGHT VIOLATION (be careful before checking this...!)
- [ ] package.json
- [ ] demos/examples
- [ ] core.ts
- [x] Tween.ts
- [ ] lite.ts
- [ ] Easing.ts
- [ ] Interpolation.ts
- [ ] Timeline.js
- [x] Interpolator (InterTween)

[2017-09-19 07:02] dalisoft opened #35 "Active-tweening are not sync"
Tweens with same object isn't sync with each other, this should be fixed

[2017-09-19 12:14] dalisoft commented on #34
#coming_soon #soon_fix #know_fix #in-week

[2017-09-19 12:15] dalisoft commented on #35
It's works best on DOM-based nodes, but for some-case like dynamic tweening in not working properly due of caching starting properties

[2017-09-20 09:03] #33 closed

[2017-09-20 09:17] #34 closed

[2017-09-20 09:20] #35 closed

[2017-09-23 15:59] dalisoft opened #36 "Tween: Full version [#seek] method isn't working"
# Issue

### Issue name
Tween: Full version [#seek] method isn't working

### Issue description
Tween: Full version [#seek] method isn't working

### Related
This issue is related to

- [ ] LICENSE
- [ ] README
- [ ] ABOUT COPYRIGHT VIOLATION (be careful before checking this...!)
- [ ] package.json
- [ ] demos/examples
- [ ] core.ts
- [x] Tween.ts
- [ ] lite.ts
- [ ] Easing.ts
- [ ] Interpolation.

[2017-09-24 13:48] dalisoft commented on #36
I can't figure out why my fix ways not working, help would be nice. @trusktr Maybe we merge this repo to tween.js for more help from community?

[2017-09-25 20:39] trusktr commented on #36
Yeah, that'd be great because the community is using the main tween.js repo, and focus is there. I would suggest to pick your favorite ideas from here and start adding them there.

The `creatUi` stuff is really cool and useful! I think it'd be nice to have a separate repo just for that, as a standalone package (rather than bundling in the same tween.js package).

[2017-09-25 20:42] trusktr commented on #33
@sole Is the only with the discretion to add collaborators. In the meantime, if you can open pull requests I will gladly help review them so we can get features merged. You have some really good ideas! In particular, it'd be super nice if we can get your `createUi` stuff into a separate repo, it is really really nice and helpful.

[2017-09-26 03:31] dalisoft commented on #36
Thank you for best words. I not understand good, but it's mean we start merge?

[2017-09-26 03:39] dalisoft commented on #33
@sole can give we right to admin, then we activer do things, like coverage, code checks via Scrutinizer CI or etc

[2017-09-26 06:21] dalisoft commented on #36
Or we make github repo for createUi? Its already on npm. I am working on compatibility for tween.js

[2017-09-26 09:02] dalisoft commented on #36
@trusktr Now Tween.js also compatible with `createUi`, [here link](https://unpkg.com/es6tween-tool-createui)

But you should add
[code]
to make play button visible, as it's dynamic by method checking. Make sure call this before
`createUi` instance

[2017-09-26 09:03] dalisoft commented on #36
About [#seek] method, it should work partially, always better having partly working than nothing.

[2017-09-26 19:42] trusktr commented on #36
Yeah, if you can open some new pull requests with changes to Tween.js, then I can review them.

A new repo would be great. I made on here: https://github.com/tweenjs/tween-ui. How do you feel about that name? If you can open pull requests to start merging there, I can start reviewing them. A couple notes:

- perhaps `tweenUi` would be a better name for the function.
- It should reference only `twe

[2017-09-26 19:44] trusktr commented on #36
Basically, let's make the `tween-ui` work with the current Tween.js, not considering other libraries in the code. And let's focus on merging your ideas one by one into Tween.js. Then that way many people can enjoy your new features! 👍

[2017-09-27 02:26] dalisoft commented on #36
tweenjs.github.io/es6-tween then click Getting Started then scroll to bottom and check Simple demos page

[2017-09-27 02:27] dalisoft commented on #36
You have access to create repo on tweenjs? I do not have access

[2017-09-27 02:29] dalisoft commented on #36
I think one thing. After these changes to tween.js es6-tween repo will be dead as users can get these things from tween.js?

[2017-09-27 02:30] trusktr commented on #36
Yes I do. Sole is busy. The best I can do without her is make a new repo and I can help you merge your code by reviewing PRs.

[2017-09-27 02:30] dalisoft commented on #36
I will back in computer after week then i commit to tween ui

[2017-09-27 02:32] trusktr commented on #36
Bring your knowledge to Three.js, then eventually when/if @sole is around town she can put you on the team that has access. We can start with PRs for now, to get your ideas in, and as I said I am happy to help review so you can merge. :)

[2017-09-27 14:47] dalisoft commented on #36
@trusktr I got full time working (14hour per day), so sorry i have not time to it. @sole if add me, i will do later pr or you can do it yourself

[2017-09-27 14:48] dalisoft opened #37 "scroll property"
Dear users if your scroll plugins doesnt work, try scrollfast. thanks. i have no time for documentate it

[2017-09-30 06:07] dalisoft opened #38 "Docs issue"
# Issue

### Issue name
- Please provide short about issue or Title of this issue

### Issue description
- Please provide the more information as possible to be clear your issue

### Related
This issue is related to

- [ ] LICENSE
- [ ] README
- [ ] ABOUT COPYRIGHT VIOLATION (be careful before checking this...!)
- [ ] package.json
- [ ] demos/examples
- [ ] core.ts
- [ ] Tween.ts
- [ ] lite.ts
- [

[2017-09-30 06:07] #38 closed

[2017-09-30 06:07] dalisoft opened #39 "Docs issue"
Sorry for site doc issue, i will fix when have time

[2017-09-30 23:52] joseasv opened #40 "chain is not a function"
Hello there. I just wanted to chain two tweens but the method isn't there. I did what the documentation (http://tweenjs.github.io/es6-tween/docs/tutorial-Basics.html) says in the section "Controlling a tween".

[2017-10-01 14:00] dalisoft commented on #40
Sorry i forgot to update docs. Now i havent much time like before. PR are very welcome for fixes

[2017-10-01 14:02] dalisoft commented on #40
See #39 i am know issues but i working on police so time very short. Just for reading issues

[2017-10-03 22:52] trusktr commented on #36
Forgot to answer that. Yes, users will enjoy your changes in tween.js, and es6-tween will become obsolete.

[2017-10-04 07:16] dalisoft commented on #36
then my plugin architecture and lite (faster) becomes unused? The createui is compatible with tween.js. I want to keep es6 tween live and make it popular. Also i think i should move repo to my profile as i can make code coverage, improve code quality and much more by other CI services

[2017-10-04 20:33] trusktr commented on #36
Unless you would like to prose PRs to implement something like it in Tween.js

True, you could do that.

Interested to put it in the http://github.com/tweens/tween-ui repo?

[2017-10-04 20:33] trusktr commented on #36
I meant https://github.com/tweenjs/tween-ui

[2017-10-05 08:05] dalisoft commented on #36
I will do that but it should be compatible with es6-tween too. I havent time nw. But you free to imlement that

[2017-10-05 08:06] dalisoft commented on #36
I will do but later

[2017-10-30 18:11] lizistorm opened #41 "Can't stop tween when Infinit repeat."
Can't stop tween when Infinit repeat. It just ignore when _isFinite is false in Tween.stop/Lite.stop.

But in origin tween.js version there is no _isFinite check in stop function.

[2017-11-01 08:06] dalisoft commented on #41
Hi. Thanks for issue. I know this bug, because of createUi i did this trick. But i will introduce major update in 2-3days or max next week. Until it please wait. I am very  want fix, but because of my work i have not time

[2017-11-01 08:10] dalisoft opened #42 "Lite users: Deprecation warning"
# Issue

Soon Lite version will deprecated as Full version should be optimized like Lite

### Related
This issue is related to

- [ ] LICENSE
- [ ] README
- [ ] ABOUT COPYRIGHT VIOLATION (be careful before checking this...!)
- [ ] package.json
- [ ] demos/examples
- [ ] core.ts
- [x] Tween.ts
- [x] lite.ts
- [ ] Easing.ts
- [ ] Interpolation.ts
- [x] Timeline.js

- or provide something else (from

[2017-11-01 09:53] dalisoft commented on #41
Or you can modify code for yourself. If not know TypeScript, after installation with npm, run 'tsc' on directory and you should see src compiled foldrr

[2017-11-01 16:27] lizistorm commented on #41
OK. Thanks!

Just remove _isFinite check in stop().

change
`if (!_isPlaying || !_isFinite) {
      return this;
    }`
to
`if (!_isPlaying) {
      return this;
    }`

And maybe _r in stop() should be _reversed. Or it will not go back to start value when reversed.

change
`let atEnd = (_r + 1) % 2 === 1;`
to
`let atEnd = _reversed % 2 === 1;`

[2017-11-01 16:33] dalisoft commented on #41
I already fix that in local machine. Just not find time to upload. Thanks for fix again

[2017-11-05 17:15] #42 closed

[2017-11-05 17:20] dalisoft commented on #41
Your issue should resolve [4.0.1](https://github.com/tweenjs/es6-tween/releases/tag/v4.0.1)

[2017-11-05 17:20] #41 closed

[2017-11-05 17:20] dalisoft commented on #40
Your issue should resolve [4.0.1](https://github.com/tweenjs/es6-tween/releases/tag/v4.0.1)

[2017-11-05 17:20] #40 closed

[2017-11-05 17:22] #39 closed

[2017-11-05 17:22] #37 closed

[2017-11-05 17:25] dalisoft commented on #36
Until now, even, no one of users didn't ask about issue, so if someone need that, please use GSAP/TweenMax (works more than one dev), i'm alone can't fix this

[2017-11-05 17:25] #36 closed

[2017-11-10 15:33] elliottregan opened #43 "Import instructions for 'lite' version refer to non-existant file."
### Issue description
- I believe that `import { Easing, Interpolation, Tween, autoPlay } from 'es6-tween/src/index.lite'` should end with `.js.`, not `.lite`.

### Related
This issue is related to: README

### What you excepted?
- I expected to be able to paste that line into my code and have access to the lite version of Tween. Instead, I had to change the file extension.

---

Also, what is the

[2017-11-10 15:44] dalisoft commented on #43
Hi. Thanks for using our library.
But `Lite` was deprecated in v4.x.x

[2017-11-10 15:52] dalisoft commented on #43
`Lite` version has been optimized, memory effecient and faster until `4.x.x` introducted

[2017-11-10 16:27] elliottregan commented on #43
Oh, I see. I didn't realize I was using a different version than what was available over CDN.

Maybe the real bug here is "README isn't updated for the 4.x release"?

[2017-11-10 16:32] dalisoft commented on #43
README for 4.x is updated in only GitHub, so please sorry for this. I will fix issue in few days

[2017-11-10 16:47] elliottregan commented on #43
No worries! Let me know if you'd like any help.

[2017-11-10 16:54] dalisoft commented on #43
I will making something really nice for my users like you (hope you'd like) and should optimize the performance under the hood by some memory cost

[2017-11-10 17:15] dalisoft commented on #43
Look at v4.0.2, that should fix docs issue and much some new i few time ago said

[2017-11-10 17:15] #43 closed

[2017-11-24 10:08] dalisoft opened #44 "Timeline [BUG]: Properties unexcepted change"
# Issue

### Issue name
Timeline: Properties unexcepted change

### Issue description
Here demo, what i want to except, but won't work
https://codepen.io/dalisoft/pen/POaJGb

### Related
This issue is related to

- [ ] LICENSE
- [ ] README
- [ ] ABOUT COPYRIGHT VIOLATION (be careful before checking this...!)
- [ ] package.json
- [ ] demos/examples
- [ ] core.ts
- [ ] Tween.ts
- [ ] lite.ts
- [ ] E

[2017-11-24 13:03] dalisoft commented on #44
Who use `Timeline` module? Even after `chainedTweens` is back?! I will deprecate it and breaking change to v5

[2017-11-24 13:04] #44 closed

[2017-12-07 11:43] Avocher opened #45 "Not working in Electron"
# Issue

### Issue name
es6-tween relies on process.hrtime if available, which seems to work unexpectedly(?) in Electron.

### Issue description
Animations doesn't progress in Electron.

### Related
This issue is related to

- [ ] LICENSE
- [ ] README
- [ ] ABOUT COPYRIGHT VIOLATION (be careful before checking this...!)
- [ ] package.json
- [ ] demos/examples
- [x] core.ts
- [ ] Tween.ts
- [ ] lit

[2017-12-07 12:07] dalisoft commented on #45
Hi @Avocher
Thanks for using our library
Do you called `TWEEN.autoPlay(true)`?

[2017-12-08 08:21] Avocher commented on #45
Yes, I tried both autoPlay and calling update. Setting `process.hrtime = undefined` makes the code work.

[2017-12-08 09:34] dalisoft commented on #45
There can you reference some similar issues from `Electron`?
I there can't find way of check `Electron bug`.
PR are welcome and would be helpful

[2017-12-11 02:32] MarkLodato opened #46 "Typescript cannot find declaration file (.d.ts) when used via npm"
# Issue

### Issue name
Typescript cannot find declaration file (.d.ts) when used via npm

### Issue description
When one tries to import es6-tween in TypeScript, they get:

[code]

### Related
This issue is related to

- [X] package.json

### What you excepted?
To fix, you simply need to add a `"types"` field in package.json. See http://www.typescriptlang.org/docs/handbook/declaration-files/publi

[2017-12-13 15:56] shongololo opened #49 "Is there some kind of 'complete' event or onComplete method for es6-tween?"
# Issue

### Issue name
Is there some kind of 'complete' event or onComplete method for es6-tween?

### Issue description
I can't seem to find anything in the documentation and attempts at using a `.on('complete...)` method don't seem to work.

### Related
This issue is related to
- [x] demos/examples
- [x] core.ts
- [x] Tween.ts

### Example
I'm trying to do something like this:
[code]

[2017-12-13 17:07] #45 closed

[2017-12-13 17:07] #46 closed

[2017-12-13 17:19] dalisoft commented on #49
Hi @shongololo

[Here online demo](https://codepen.io/dalisoft/pen/WdbdRz) i'm pasted your code and fixed these:
1. Set `autoPlay(true)` for automatic running tweens loop
2. Call `.start()` for running tween

Node:
`.reverse()` may not work as excepted, i haven't much time to fix these issues for now

[2017-12-13 17:19] #49 closed

[2017-12-14 06:41] dalisoft commented on #45
@Avocher is your issue fixed?

[2017-12-15 15:38] Avocher commented on #45
Finally had the time to try it out and it works. Thank you!

[2017-12-15 15:56] dalisoft commented on #45
Thank you for catching this bug

[2018-01-05 00:01] ritwik commented on #3
@dalisoft @sole I think I might be able to get this to work using headless chrome - would that suffice? Is this still something for which community help is needed? If so, I'll take a crack at it if you've not already started :)

[2018-01-05 03:31] dalisoft commented on #3
I would be halpful if you do this

[2018-09-11 12:10] reetou opened #54 "Understanding Linear Interpolation"
# Issue

### Issue name
- Cannot get what happens in linear interpolation

### Issue description
- I want to understand some of your code to create animation engine for my work project to make it more efficient (our web game eats too much CPU with tween.js so we decided to make our own small library). What I am interested in for now is bouncing. As I saw, you count elapsed time for every tick depe

[2018-09-11 12:53] reetou commented on #54
Alright, thank you.

[2018-09-11 14:10] #54 closed

[2018-09-17 12:41] dyurkavets opened #55 "Incorrect end value when tweening large numbers"
# Issue

### Issue name
Incorrect end value when tweening large numbers

### Related
This issue is related to

- [ ] LICENSE
- [ ] README
- [ ] ABOUT COPYRIGHT VIOLATION (be careful before checking this...!)
- [ ] package.json
- [ ] demos/examples
- [ ] core.ts
- [x] Tween.ts
- [ ] lite.ts
- [ ] Easing.ts
- [ ] Interpolation.ts
- [ ] Timeline.js

### Example
https://jsfiddle.net/tdxkg9a8/

### Wha

[2018-09-19 04:40] #55 closed

[2018-11-13 22:40] donaldr opened #58 "My tween only has a precision of four decimal points."
I have a tween going from 2 to 1.98 over twenty seconds. I log my tween and it only goes to four decimal places. I'm not rounding it anywhere in my code.

[2018-11-23 01:31] moroine commented on #58
Hello,

I just try to reproduce, and on my side, it's not the case.

See https://codepen.io/bilouwan/pen/QJmQdW?editors=1111

Could you add an example?

[2019-02-11 17:33] dalisoft commented on #58
Hello @donaldr.
Is the #56 not fixed your problem? If fixed, please close issue

[2019-02-24 22:35] dalisoft commented on #58
@donaldr Please try `v5.3.2`, i released new version, it should be fixed. Thank you for reporting bug

[2019-02-25 18:41] dalisoft commented on #58
Now the decimals limit not 4, an approx 6-7, i think it's enough for smooth tweening and 32-bit integer limit also was fixed. If still issue persist, please reopen issue or create another one

[2019-02-25 18:41] #58 closed

[2019-03-02 08:37] #3 closed

[2019-03-02 13:43] redpandatronicsuk opened #61 "main field in package.json points to nonexistent file"
Here is the error:
[code]

[2019-03-02 13:45] dalisoft commented on #61
Hello @redpandatronicsuk.
Please try `v5.4.1` which just released

[2019-03-02 13:47] dalisoft commented on #61
@redpandatronicsuk If latest version fixes issue, please can you close issue?

[2019-03-02 13:49] redpandatronicsuk commented on #61
Thanks man! That must have been the quickest issue fix ever :)

[2019-03-02 13:49] #61 closed

[2019-03-02 13:50] dalisoft commented on #61
Thank you for issue, i love every user of es6-tween

[2019-03-05 19:24] kAliRM70 opened #62 "How to use es6-tween with Angular APP to animate vehicle Movement on ArcGIS JS API map"
I have an angular js application. One of the controllers uses Esri MAP (ArcGIS JS API). I need to animate the vehicle graphic movement.

What I did?
I imported the es-tween library and set autoPlay to true

const { Tween, Easing, autoPlay } = require('es6-tween');
  autoPlay(true);

On the function of the vehicle location updated I did the following code::
  let position = {
              x: vehic

[2019-03-05 19:45] dalisoft commented on #62
Hi @kAliRM70!
Thank you for using this library.
Can you create online pen at jsbin or codepen for i am be able to check where/what is going wrong?

[2019-03-05 19:49] kAliRM70 commented on #62
Hi Davlate and thank you very much for your quick reply. I will create a codePen with graphics and let you know

Thank you
Khaled

Khaled Ali
Sr. Software Engineer
RouteMatch Software
O: 404.239.2121
Khaled.ali@routematch.com<mailto:Khaled.ali@routematch.com>
[signature_1379854148]<https://www.routematch.com/>  [signature_342577630] <https://www.facebook.com/Routematch>   [signature_184240108] <ht

[2019-03-05 19:55] dalisoft commented on #62
@kAliRM70
I now checked the basic tweening functionality at [here](https://repl.it/@dalisoft/basic-nodejs-tween) and also checked the tests, these things works as excepted, so i think you should create issue to another repository (project which doing animating updates values).

[2019-03-05 19:58] kAliRM70 commented on #62
Yes, I see that same thing when I run it but the graphic image does not move from its location

Khaled Ali
Sr. Software Engineer
RouteMatch Software
O: 404.239.2121
Khaled.ali@routematch.com<mailto:Khaled.ali@routematch.com>
[signature_695232273]<https://www.routematch.com/>  [signature_1374897043] <https://www.facebook.com/Routematch>   [signature_456117453] <https://twitter.com/routematch>  [sig

[2019-03-05 20:04] dalisoft commented on #62
Yea, es6-tween takes care of tweening number, updating original object, emitting events (update, complete) and works out-of-box with some 3d renderers such as Three.js with or without plugins. But es6-tween does not care about animating ArcGIS API Class Instance. You('re) welcome to create plug-in for es6-tween to make it work or fixing manually. Hope you can find bug, i don't have more free time

[2019-03-05 20:07] kAliRM70 commented on #62
Thank you Very much. I really appreciate your quick stop

Khaled Ali
Sr. Software Engineer
RouteMatch Software
O: 404.239.2121
Khaled.ali@routematch.com<mailto:Khaled.ali@routematch.com>
[signature_2079751899]<https://www.routematch.com/>  [signature_217685058] <https://www.facebook.com/Routematch>   [signature_1092600320] <https://twitter.com/routematch>  [signature_506575879] <https://www.linked

[2019-03-05 20:08] #62 closed

[2019-03-07 15:46] kAliRM70 commented on #62
Hi man and thank you very much for your support. Yesterday I figured out how to animate graphics on Esri map. Every thing was as I sent it to you. The only thing I added to make it work is the vehicle.graphic.draw() inside the on(‘update’, (position) => {
                Vehicle.x = position.x
                Vehicle.y = position.y
                vehicle.graphic.draw()
});

It works perfectly now

[2019-04-08 23:53] homerjam opened #65 "Tween only run first time since 5.4.x"
Repro url: https://codesandbox.io/embed/24w5k8v3zn

**Describe the bug**
Since version 5.4.x tweens seem to only play first time around. For example I have the following code which creates and runs a new tween programatically, this works as expected in 5.3.x but only works the first time in 5.4.x.

I see there were some changes that mention timeline - could this be something to do with it?

Thanks

[2019-04-09 06:55] dalisoft commented on #65
Hello and thanks for using this library. Please, can you create simple codepen snippet for i am being able to see what happens and fixing issue

[2019-04-09 11:17] homerjam commented on #65
https://codesandbox.io/embed/24w5k8v3zn

[2019-04-09 11:38] dalisoft commented on #65
Thanks @homerjam. I got what going wrong, i soon fix.
There you can watch minimal pen of what's wrong: https://jsbin.com/luyizar/edit?js,console

[2019-04-09 12:02] dalisoft commented on #65
@homerjam Can you try [v5.4.2](https://github.com/tweenjs/es6-tween/releases/tag/v5.4.2)? It is fixed for your app?

_if yes, please close issue_

[2019-04-10 15:39] agavrilov opened #66 "Do not publish .git subdirectory to npm registry"
**Describe the bug**
'.git' subdirectory is published to NPM registry in version 5.4.2. It contains hooks/README.sample. The presence of '.git' subdirectory triggers a bug in NPM which prevents the installation of _other_ packages: https://github.com/npm/npm/issues/17475

**Expected behavior**
'.git' subdirectory should not be a part of published version

[2019-04-10 15:42] dalisoft commented on #66
Hi and thanks to reporting issue. How it published i not sure, looks bug on my notebook. I'll publish a new one, thanks again :)

[2019-04-10 15:51] #65 closed

[2019-04-10 15:51] dalisoft commented on #66
Thanks a lot, fixed!

[2019-04-10 15:51] #66 closed

[2019-04-10 15:57] homerjam commented on #65
Yes it works! (tested with 5.4.3) Thanks!

[2019-04-18 22:24] pfrlv opened #67 "Visual jump after pause"
Hello, after `this.tween.pause()` in this case:

[code]
I have a visual backward or forward jump for 1/3px on `this.wrapper`. I work with about 20 wrappers.

 - OS: MacOs
 - Browser chrome
 - Version 73.0.3683.103 (Official Build) (64-bit)

[2019-04-20 12:47] dalisoft commented on #67
Hello and thanks for reporting. Can you create specific demo on Codepen or something similar service such as jsbin, jsfiddle?

[2019-04-23 08:15] pfrlv commented on #67
So i did https://jsfiddle.net/qkg5L7ue/28/

[2019-04-23 18:11] dalisoft commented on #67
Please can you check this [fiddle](https://jsfiddle.net/3oxL7gnd/)? It is ok now?

[2019-04-24 10:53] pfrlv commented on #67
Давлат, привет! Понял, что ты русский. В твоем фидле тоже дергается. Самое странное, что в версиях ниже 4.2.0 пауза работает отлично.

[2019-04-24 11:32] dalisoft commented on #67
@pfrlv Привет. Да, знаю русский! Я проверю что не так, как только найду время, хорошо? Сейчас я занять работой, ну точно буду проверить

[2019-04-24 12:28] pfrlv commented on #67
@dalisoft спаисбо )

[2019-04-24 14:27] dalisoft commented on #67
@pfrlv Теперь можете проверить этот [фиддл](https://jsfiddle.net/dalisoft/cmpnzqso/2/)?

[2019-04-24 19:49] pfrlv commented on #67
@dalisoft отлично! В чем причина?

[2019-04-24 19:51] dalisoft commented on #67
@pfrlv проблема был в код которые пытается нормализовать времени если внутри обновление что-то сложное (которые много время займёт) происходить

[2019-04-24 19:51] dalisoft commented on #67
Если проблема решена, можете закрыть исю?

[2019-04-24 19:52] pfrlv commented on #67
Понял, спасибо! Закрываем

[2019-04-24 19:52] dalisoft commented on #67
И вам спасибо за репорт бага. Хорошего вечера

[2019-04-24 19:52] #67 closed

[2019-04-26 11:33] seIncorp opened #70 "Missing file for using as bundled/Tween.js"
**Describe the bug**
Under installation first link to file is not working

**To Reproduce**
Click on this url https://raw.githubusercontent.com/tweenjs/es6-tween/master/ts/Tween.ts and you will get: 404: Not Found.

[2019-04-26 11:45] dalisoft commented on #70
Why do you want get TS file? The project fully rewritten to JS because of performance, do you see releases changelog?

[2019-04-26 11:46] dalisoft commented on #70
Auh, did not noticed. Can you create PR for it too?

[2019-04-26 12:00] seIncorp commented on #70
Done.

[2019-04-26 12:15] dalisoft commented on #70
Nice. Thanks.

[2019-04-26 12:15] #70 closed

[2019-05-03 08:10] seIncorp opened #73 "New demo/example."
You can use this example for promoting your project.

In the case, if you use this example, please use the reference where you got this example.

Link to this example:
https://github.com/seIncorp/Examples/tree/master/p5JS/Tween/Example%202

[2019-05-03 09:04] dalisoft commented on #73
Hello and thanks a lot for demo. But i cant use demo, because
- demo should be available for everyone (host on codepen for example)
- i not promote this project, who loves performance and flexibility, will find this project
- you can make PR with including demo in examples folder

[2019-05-05 08:46] #73 closed

[2019-05-08 03:59] wlinglinux opened #74 "timeline is not running"
https://codepen.io/dalisoft/details/mMRWdr
I am studing es6-tween. I want to use Timeline or chainedTweens, but it is not running.

[2019-05-08 05:10] dalisoft commented on #74
@wlinglinux
Please change this line
[code]
and timeline should work. While it's real bug for some users, i now push fix

[2019-05-08 05:53] dalisoft commented on #74
I released new version, can you try new [v5.5.3](https://github.com/tweenjs/es6-tween/releases/tag/v5.5.3) release?

[2020-02-09 02:12] mildmojo opened #80 "Strange output values when using Tween#update manually"
I'm using es6-tween in a NodeJS script. I'm trying to evaluate a tween at a custom time using `Tween#update`, but I'm getting really strange results that are way out of bounds. The same code in the browser outputs better-looking numbers, but they're still incorrect.

(I'd love a way to feed all these options to the library and get a simple tween function back which accepts a time value argument an

[2020-02-09 02:18] mikebolt commented on #80
It might be a problem with the requestAnimationFrame loop code. Could you
post that part?

On Sat, Feb 8, 2020 at 6:12 PM Tim <notifications@github.com> wrote:

[2020-02-09 02:27] mildmojo commented on #80
Oh, this is the complete reproduction code; I'm not using `requestAnimationFrame`. I'm trying to evaluate the tween at arbitrary time values. In my actual code, I have a custom time accumulator that I'm providing as `t`.

I just found a workaround that works in limited testing, but I don't know why it works. If I store a timestamp when the script starts and offset my `t` by that value, it looks li

[2020-02-09 03:11] mikebolt commented on #80
Make sure to pass a starting time to start() when you're using custom timestamps. So, change `start()` to `start(0)`.

There is no "on" function. You need to use onUpdate(callback).

I recommend reading this: https://mikebolt.me/article/understanding-tweenjs.html

[2020-02-09 03:32] mildmojo commented on #80
Thanks for the link! I was going by your [API documentation](https://github.com/tweenjs/es6-tween/blob/master/API.md) and your [wiki](https://github.com/tweenjs/es6-tween/wiki/Events), which shows `on` but not `onUpdate`.

Trying it out, `.start(0)` seems to work great; I didn't realize the argument was sort of like scheduling a tween to start.

My tween objects don't seem to have an `.onUpdate`,

[2020-02-09 03:38] mikebolt commented on #80
Hi. Sorry for the confusion. I thought this issue was posted in https://github.com/tweenjs/tween.js. It's a different library.

[2020-02-09 08:10] dalisoft commented on #80
@mikebolt Thanks for help, even confused, your helped user fix their bug

[2020-02-09 08:12] dalisoft commented on #80
@mildmojo Is the issue was solved or still issue for you?

[2020-02-10 00:04] mildmojo commented on #80
@dalisoft @mikebolt I think the issue's solved enough for my workflow. I don't get the right output when I provide negative time values, but I can limit my usage to positive-only. Thanks for your help, and for being so fast to respond!

Here's the updated NodeJS test and results:

[code]

[code]

[2020-02-10 00:04] #80 closed

[2020-03-10 02:07] JustClear opened #81 "在微信小游戏中缓动效果不生效"
`es6-tween` is not working in wechat minigame

复现步骤
1. 正常调用 API
2. 在微信小游戏中执行

**Expected behavior**
动画能正常播放

[2020-03-10 07:41] dalisoft commented on #81
Hi @JustClear

Sorry, i don't know Chinese. Google Translator also did not translated correctly.
But recently i changed README and added NOTE related to project maintainity.

https://github.com/tweenjs/es6-tween#note

Thanks for interest.

Regards, Dav

[2020-03-14 07:32] #81 closed

[2020-05-18 08:36] Arlodotexe commented on #46
I'm seeing this issue again. Looks like there used to be TS definitions [here](https://github.com/tweenjs/es6-tween/tree/70098fb4fa9f34622cdad5b3c8a9df88e4abe1e3/ts), but they no longer exist.

[2020-05-19 12:21] dalisoft commented on #46
PR is welcome =)

[2020-06-24 21:01] anat opened #84 "chain() with Tween only, not group"
It is probably a feature request but in the original tweenjs, it is possible to chain not only groups but also tweens.

Maybe I'm wrong, I'll investigate more to find out.

I think that in the original one they create a group when you need it, I'll have to refactor my code to make my code to work with a bit more code that could have been avoided.

[2020-06-24 21:53] dalisoft commented on #84
I think you made issue in wrong repo as you want original tweenjs.
Go to https://github.com/tweenjs/tween.js and create issue.

This project isn’t maintaining anymore and no issues will be processed

[2020-06-24 21:53] #84 closed

[2021-01-16 20:44] js-org-cleanup opened #88 "JS.ORG CLEANUP"
# JS.ORG CLEANUP

Hello, it seems a `js.org` subdomain that was requested to target this repository no longer works.
The subdomain requested was `es6-tween.js.org` and had the target of `tweenjs.github.io/es6-tween`.
It produced the following failures when tested as part of the cleanup:
 - [HTTP](http://es6-tween.js.org): `Failed with status code '404 Not Found'`
 - [HTTPS](https://es6-tween.js.or

[2021-04-26 13:39] dalisoft commented on #88
@js-org-cleanup You can close host (domain) as es6-tween not supported anymore

[2021-04-26 13:39] #88 closed